body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* Azul claro */
    color: #004d40; /* Verde escuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; /* Verde esmeralda */
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para o cabeçalho */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

section {
    padding: 4rem 2rem;
    border-bottom: 2px solid #00796b; /* Verde esmeralda */
    background: rgba(255, 255, 255, 0.9); /* Branco com leve transparência */
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para criar profundidade */
}

h1, h2 {
    color: #004d40; /* Verde escuro */
}

img {
    max-width: 100%;
    height: auto;
    border: 3px solid #004d40; /* Verde escuro */
    border-radius: 10px; /* Cantos arredondados */
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra suave nas imagens */
}

footer {
    background-color: #00796b; /* Verde esmeralda */
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para o rodapé */
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}
