:root {
    --rosa-choc: #ff00ff;
    --rosa-bebe: #ffc0cb;
    --rosa-pink: #ff69b4;
    --rosa-claro: #ffe4e1;
    --rosa-escuro: #c71585;
}

body {
    background-color: var(--rosa-bebe);
    color: var(--rosa-escuro);
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    color: var(--rosa-choc);
    text-transform: uppercase;
}

p {
    color: var(--rosa-pink);
}

a {
    color: var(--rosa-claro);
    text-decoration: none;
}

a:hover {
    color: var(--rosa-escuro);
}

button {
    background-color: var(--rosa-pink);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: var(--rosa-choc);
}
